// Colours:
$black:                 #000000;
$checked:               #e64c37;
$active:                #00b39e;
$gradient__active_start:#78cba2;
$gradient__active_end:  $active;
$gradient__dark_start:  #423445;
$gradient__dark_end:    #2d1b30;
$bg_light:              #ededed;
$bg_dark:               #221724;
$text_light:            #e9e8e9;
$text_grey:             #949494;
$text_dark:             #777578;
$white:                 #FFFFFF;

$header__height_desktop:            114px;
$header__height_desktop-scrolled:   78px;
$gradient_angle:        36deg;

// Transitions:
$time_trans:        0.3s;

%wrapper{
    margin-left: auto;
    margin-right: auto;
    padding-left: 17px;
    padding-right: 17px;
    max-width: 1280px;
    
    &_narrow{
        @extend %wrapper;
        max-width: 1160px;
    }
}

@mixin gradient__active_angled{
    background-image: linear-gradient($gradient_angle, $gradient__active_start, $gradient__active_end);
}
%gradient__active_angled{
    @include gradient__active_angled;
}

@mixin gradient__dark_angled{
    background-image: linear-gradient($gradient_angle, $gradient__dark_start, $gradient__dark_end);
}
%gradient__dark_angled{
    @include gradient__dark_angled;
}