.b-article{
    position: relative;
    padding: 80px 0 55px;
        
    @include media('<desktop'){
        padding-top: 60px;
    }
    
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        @extend %gradient__dark_angled;
    }
    &__wr{
        @extend %wrapper;
        display: flex;
        flex-direction: column;
    }
    &__container{
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        
        @include media('<desktop'){
            flex-direction: column;
            padding: 0 43px;
        }
    }
    &__img{
        margin-bottom: 40px;
        object-fit: contain;
        object-position: top;
        font-family: 'object-fit: contain; object-position: top';
        
        @include media('<tabletSm'){
            width: 100%;
            object-position: center;
            font-family: 'object-fit:contain;object-position: center';
        }
    }
    &__content{
        margin-right: 50px;
        
        @include media('<desktop'){
            margin: 0;
        }
    }
    &__title{
        margin-bottom: 40px;
        font-size: 22px;
        font-weight: 500;
        color: $active;
        
        @include media('<desktop'){
            margin-bottom: 15px;
        }
    }
    &__descr{
        color: $white;
        font-weight: 500;
    }
    
    .b-btn{
        align-self: center;
    }
    
    &_reverse{
        @extend .b-article;
        .b-article{
            &__container{
                flex-direction: row;
                
                @include media('<desktop'){
                    flex-direction: column;
                }
            }
            &__content{
                margin-right: 0;
                margin-left: 50px;
                
                @include media('<desktop'){
                    margin: 0;
                }
            }
        }
    }
    
    &_active{
        &:before{
            @include gradient__active_angled;
        }
        .b-article{
            &__title{
                color: $black;
            }
        }
    }
}