.b-contactus{
    position: relative;
    padding: 85px 0 53px;
    background-image: url(../assets/img/contactus-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @extend %gradient__active_angled;
        opacity: .85;
    }
    
    &__wr{
        @extend %wrapper_narrow;
        position: relative;
    }
    
    &__title{
        margin-bottom: 60px;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 500;
        
        &_sub{
            margin-bottom: 46px;
            font-size: 22px;
            font-weight: 500;
            color: $white;
        }
    }
    &__block{
        &_checkboxes{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            .b-contactus__title_sub{
                margin-bottom: 36px;
            }
            
            .b-label_checkbox{
//                display: block;
            }
        }
        &_email{
            width: 595px;
            
            .b-contactus__title_sub{
                padding-left: 5px;
            }
            
            .b-wr_input{
                margin-bottom: 25px;
                margin-left: 5px;
            }
        }
    }
}

.b-form_contactus{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .b-form__popup{
        position: absolute;
        left: 0;
        bottom: calc(100% + 3px);
        z-index: 1;
        width: 100%;
    }
}