.b-input{
    margin-right: 7px;
    flex-grow: 1;
    padding: 1px 7px;
    font-size: 12px;
    font-weight: 700;
    color: $text_grey;
    border-color: transparent;
    outline: none;
    background-color: transparent;
    
    &::placeholder{
        text-transform: uppercase;
        color: $text_grey;
    }
}

.b-wr_input{
    display: flex;
    align-items: center;
    height: 52px;
    padding: 7px 7px 7px 25px;
    border-radius: 26px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    background-color: $white;
    
    > svg{
        fill: $active;
        flex-shrink: 0;
    }
}

.b-label{
    &_checkbox{
        cursor: pointer;
        
        + .b-label_checkbox{
            margin-top: 20px;    
        }
    }
    &__text{
        display: flex;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: $white;
    }
}

input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);

    + span:before {
        content: '';
        display:inline-block;
        vertical-align: -16%;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        margin:0 17px 0 0;
        background-color: $white;
    }

    &:checked + span:before {
        background-color: $checked;
    }

    &:disabled + span:before {
        background-color: $text_dark;
    }
}

form{
    &.is-touched{
        input:invalid{
            color: $popup__text_error;
        }
    }
    &.is-invalid{
        .js-popup_invalid{
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
    }
    &.is-error{
        .js-popup_error{
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
    }
    &.is-valid{
        .js-popup_success{
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
    }
}
//.b-form__popup{
//    
//}