.b-integration{
    
    &s{
        padding: 135px 0 100px;
        
        @include media('<desktop'){
            padding: 60px 0;
            overflow: hidden;
        }
        @include media('<tabletSm'){
            padding: 60px 0 50px;
        }
        
        &__wr{
            @extend %wrapper_narrow;
            display: flex;
            align-items: flex-start;
            
            @include media('<desktop'){
                margin: 0 -17px;
            }
            @include media('<tabletSm'){
                margin: 0;
                flex-direction: column-reverse;
            }
        }
        &__logos{
            margin: 0 -17px;
            width: 540px;
            flex-shrink: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
            @include media('<desktop'){
                margin: -10px 0 0;
                width: 50%
            }
            @include media('<tabletSm'){
                margin: 0 -17px;
                width: calc(100% + 34px);
            }
            
            img{
                margin: 10px 17px;
                
                @include media('<tabletSm'){
                    max-height: 70px;
                }
            }
        }
        &__content{
            margin-left: 135px;
            
            @include media('<desktop'){
                margin: 0 17px;
                width: calc(50% - 17px);
            }
            @include media('<tabletSm'){
                margin: 0 0 20px;
                width: 100%;
            }
        }
        &__title{
            margin-bottom: 10px;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 500;
            color: $black;
            
            @include media('<tabletSm'){
                line-height: normal;
            }
        }
        &__descr{
            font-weight: 500;
            color: $text_grey;
            
            @include media('<tabletSm'){
                font-size: 14px;
            }
        }
    }
}