.b-target{
    position: relative;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    width: calc(#{(100%/3)} - 30px);
    padding: 61px 60px 55px;
    background-color: rgba($white, 0.42);
    box-shadow: 0 0 24px rgba($black, 0.22);
    transition: background-color $time_trans;

    &:hover{
        background-color: $bg_dark;
        
        .b-target{
            &__wr_icon,
            &__title{
                color: $text_grey;
            }
            &__btn{
                @extend %btn_hover;
            }
        }
    }
    
    &s{
        padding: 37px 0 60px;
        background-image: url(../assets/img/targets-bg-left.jpg), url(../assets/img/targets-bg-right.jpg);
        background-position: left, right;
        background-repeat: no-repeat;
        background-size: contain;
        
        &__wr{
            @extend %wrapper;
        }
        &__title{
            margin: 0 auto 37px;
            text-align: center;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 400;
        }
        &__container{
            margin: 0 -15px;
            display: flex;
            justify-content: space-around;
        }
    }

    &__header{
        margin-bottom: 22px;
        display: flex;
    }
    
    &__wr_icon{
        width: 60px;
        height: 41px;
        color: $active;
        
        svg{
            fill: currentColor;
        }
    }
    
    &__title{
        font-size: 22px;
        color: $black;
    }

    &__descr{
        margin-bottom: 45px;
        font-weight: 500;
        color: $text_grey;
    }

    &__btn{
        margin-top: auto;
        align-self: center;
    }
}