.b-target{
    position: relative;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    width: calc(#{(100%/3)} - 30px);
    padding: 61px 60px 55px;
    background-color: rgba($white, 0.42);
    box-shadow: 0 0 24px rgba($black, 0.22);
    transition: background-color $time_trans;
        
    @include media('<desktop'){
        margin-bottom: 30px;
        width: 100%;
        padding: 15px 30px 25px;
    }
    @include media('<tabletSm'){
        margin-left: 0;
        margin-right: 0;
    }

    &:hover{
        background-color: $bg_dark;
        
        .b-target{
            &__wr_icon,
            &__title{
                color: $text_grey;
            }
            &__btn{
                @extend %btn_hover;
            }
        }
    }
    
    &s{
        padding: 37px 0 60px;
        background-image: url(../assets/img/targets-bg-left.jpg), url(../assets/img/targets-bg-right.jpg);
        background-position: left, right;
        background-repeat: no-repeat;
        background-size: contain;
        
        @include media('<desktop'){
            padding-bottom: 50px;
            background-image: url(../assets/img/targets-bg-left-top.jpg), url(../assets/img/targets-bg-right-top.jpg), url(../assets/img/targets-bg-right-bottom.jpg), url(../assets/img/targets-bg-left-bottom.jpg);
            background-position: left top, right top, right bottom, left bottom;
            background-size: auto;
        }
        @include media('<tabletSm'){
            padding: 30px 0;
            background-size: 24%, 20%, 45%, 32%;
        }
        
        &__wr{
            @extend %wrapper;
        }
        &__title{
            margin: 0 auto 37px;
            text-align: center;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 400;
            
            @include media('<tabletSm'){
                margin-bottom: 30px;
                line-height: normal;
            }
        }
        &__container{
            margin: 0 -15px;
            display: flex;
            justify-content: space-around;
        
            @include media('<desktop'){
                margin: 0;
                flex-direction: column;
            }
            @include media('<tabletSm'){
                margin-left: -17px;
                margin-right: -17px;
            }
        }
    }

    &__header{
        margin-bottom: 22px;
        display: flex;
        
        @include media('<desktop'){
            align-self: center;
        }
    }
    
    &__wr_icon{
        width: 60px;
        height: 41px;
        color: $active;
        
        svg{
            fill: currentColor;
        }
    }
    
    &__title{
        font-size: 22px;
        color: $black;
    }

    &__descr{
        margin-bottom: 45px;
        font-weight: 500;
        color: $text_grey;
        
        @include media('<desktop'){
            text-align: center;
            font-size: 14px;
        }
    }

    &__btn{
        margin-top: auto;
        align-self: center;
    }
}