.b-team{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    &__wr{
        @extend %wrapper;
//        padding-left: 2px;
//        padding-right: 2px;
    }
    &__box{
        padding: 50px 0 95px; 
        background-color: $bg_light;
        
        &.opened{
            .b-team{
                &__container{
                    max-height: 1700px;
                    &:after{
                        opacity: 0;
                    }
                }
            }
            
            .text{
                &_opened{
                    display: inline;
                }
                &_closed{
                    display: none;
                }
            }
        }
    }
    &__container{
        position: relative;
        overflow: hidden;
        max-height: 965px;
        transition: max-height .3s;
        
        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 220px;
            background-image: linear-gradient(
                to top,
                $bg_light 0%,
                rgba($bg_light, 0.95) 20%,
                rgba($bg_light, 0.9) 30%,
                rgba($bg_light, 0) 100%
            );
            opacity: 1;
            transition: opacity .3s;
        }
    }
    
    &__title{
        padding: 0 0 50px;
        text-align: center;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: .08em;
        color: $black;
    }
    
    &__member{
        margin: 0 15px 60px;
        width: calc(25% - 31px);
    }
    
    &__footer{
        margin-top: 30px;
        display: flex;
        flex-direction: row-reverse;
    }
    &__toggler{
        color: $grey_about;
    }
}

.b-teammate{
    text-align: center;
    cursor: pointer;
          
    img{
        margin-bottom: 20px;
        width: 100%;
        filter: grayscale(1);
        transition: filter .3s;
    }
    
    &__title, &__descr{
        transition: color .3s;
    }
    
    &__title{
        margin-bottom: 5px;
        font-size: 22px;
        color: $black;
    }
    &__descr{
        font-weight: 500;
        color: $grey_about;
    }
    
    &:hover{
        img{
            filter: grayscale(0);
        }
        
        .b-teammate{
            &__title, &__descr{
                color: $active;
            }
        }
    }
}